<center><h1>Welcome to Railstagram!</h1></center>
<br /<br />
  <div class="col-md-3"></div>

  
  <div class="col-md-6">
    <% @posts.each do |post| %>
      <div class="well" width="480px">
        <center><dl>
          <dd>
            <a id="modal<%= post.id %>" data-toggle="modal" data-target="#<%= post.id %>">
              <%= filepicker_image_tag post.filepicker_url, w: 450, h: 450, fit: 'clip' %>
            </a>
          </dd>
          <dd>
            <h4><%= post.caption %></h4>
          </dd>
          <dd>
            <h5><%= post.username %></h5>
          </dd>
        </dl></center>
      </div>
    <% end %>

  </div>

  <div class="col-md-3"></div>

<!-- Modal generator -->
<% @posts.each do |post| %>

  <div class="modal fade" id="<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <center>
            <a href="<%= post.filepicker_url %>"><%= filepicker_image_tag post.filepicker_url, w: 500, h: 500, fit: 'clip' %></a>
            <h4><%= post.caption %></h4>
            <h5>Posted by <strong><%= post.username %></strong> on <strong><%= post.created_at.strftime("%F") %></strong></h5>
          </center>
          <br />
          <comments>
            <% post.comments.each do |comment| %>
              <div class="well"><strong>@<%= comment.username %></strong> – <%= comment.text %></div>
            <% end %>
          </comments>
          <br />
          <div class="input-group">
            <input id="comment" type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Post comment</button>
            </span>
          </div>


        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>

<% end %>